
html
.header {
     padding: 16px; /* All sides */
        background-color: rgb(1, 72, 24);
}
.header h4 {
    color: #e8e8e8;
    width: auto;
    height: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}
.btn-close {
    filter:invert(1); 
}
.description {
    flex-grow: 1; 
    overflow: auto; 
}

.btn-primary {
    background-color: #0a8130;/
}
.form-check-input {
    cursor: pointer;
}
.form-check-input:checked {
    background-color: #0a8130;
    border-color: #0a8130;
}
.form-control {
    margin-top: 8px;
}

.form-range {
    width: 100%; 
    height: 1.5rem;
}
.mt-2 {
    color: black;
}

